<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Message Upload / Download</title>
</head>
<body>
   <div>
     <h3>Upload Messages</h3>
     <form id="uploadMessages" name="uploadMessages" method="post" th:action=@{/uploadMessages} encType="multipart/form-data">
       <input type="text" name="text" multiple required />
       <button type="submit">Submit</button>
     </form>
   </div>
   
   <div>
     <h3>List of Messages</h3>
     <table>
       <thead>
         <tr>
           <th>Id</th>
           <th>Message</th>
           <th>Download Link</th>
         </tr>
       </thead>
       <tbody>
         <tr th:each="msg:${messages}">
           <td th:text="${msg.id}" />
           <td th:text="${msg.message}" />
           <td><a th:href="@{'/downloadMessage/'+${msg.id}}">Download</a></td>
         </tr>
       </tbody>
     </table>
   </div>

</body>
</html>